@import "../../../Styles/minxins/respond.scss";

.container {
  width: 100%;
  height: 100%;
}

.main {
}

.parallaxSection {
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  @include respond(phone) {
    height: 100%;
  }

  @include respond(tab-port) {
    height: 100%;
  }

    @include respond(bigScreen) {
    height: 50vh;
  }
}

.parallaxBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../../public/assets/parking.png");
  background-size: 100% auto;
  background-attachment: scroll;
  transform: translateZ(0) scale(1);
  filter: brightness(0.5);

  @include respond(phone) {
    background-size: auto;
  }

  @include respond(tab-port) {
    background-size: auto;
  }
}

.general {
  position: relative;
  z-index: 1;
  padding: 0 15%;

  @include respond(phone) {
    padding: 10%;
  }

   @include respond(tab-port) {
    padding: 10%;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  @include respond(phone) {
    display: flex;
    flex-direction: column;
  }

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
  }
}

.head {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;

  & h2 {
    font-size: 2.6rem;
    color: #fff;
  }
}

.description {
  & h3 {
    font-size: 1.6rem;
    color: #fff;
  }
}

.counters {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  color: #FFEA00;

  @include respond(phone) {
    flex-direction: column;
  }

  @include respond(tab-port) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
